@use "palette";
@use "fonts";
@use "form";
@use "guesses";

*,
*::before,
*::after {
	box-sizing: border-box;
	font-family: "CutiveMono", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
}

body {
	background-color: palette.$background;
}

.testle-dom__wrapper {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 0 auto;
}

.testle-dom__button {
	cursor: pointer;
	background-color: #2b2c31;
	color: #d8d8d8;
	width: 100%;
	border: none;
	border-radius: 10px;
}